{% extends "core/base.html" %}
{% load user_types %}

{% block content%} 


{% if user.is_authenticated and user|belongs_to_member %}
<h1>You Are Logged in as {{user.first_name}}</h1>
<h3> This borrow will be registered with your name.</h3>
<br>
<br>
<br>
<h2> Click on a Book to borrow it: </h2>
<br>
{% if valid_book_items %}
{% for book_item in valid_book_items%}
<h1><a href="{{home_url}}/{{book_item.bar_code}}/borrowed-successful">
    Book Title: {{book_item.book.book_title}}, barcode: {{book_item.bar_code}}
</a>
</h1>
{%endfor%}
{%else %}
<h1>There are no books available for borrow right now</h1>

{%endif%}
{% else %}
<h1>You Are not Allowed to View this page</h1>
<br>
<h1><a href="{% url 'core:home-index' %}">Go to HomePage From here</a></h1>

{% endif %}
{% endblock content %}