{% extends "core/base.html" %}
{% load user_types %}

{% block content%} 


{% if user.is_authenticated and user|belongs_to_librarian %}
{% comment %} If the user is a librarian {% endcomment %}
<h1><a href="{% url 'core:reports-index' %}">View Reports</a></h1>
<h1><a href="{% url 'core:request-book' %}">Request Books</a></h1>
<h1><a href="/admin">Access Admin Page</a></h1>


{% elif user.is_authenticated and user|belongs_to_member %}
{% comment %} If the user is a member {% endcomment %}
<h1><a href="{% url 'core:borrow' %}">Borrow a Book</a></h1>
<h1><a href="{% url 'core:reserve' %}">Reserve a Book</a></h1>
<h1><a href="{% url 'core:return-book' %}">Return a Book</a></h1>
<h1><a href="{% url 'core:renew-book' %}">Renew a Book</a></h1>


{% else %}
{% comment %} If the user is not loggeed in {% endcomment %}

    {% for book in books %}
    <article class="media content-section">
      <div class="media-body">
        <div class="media-body">
          <h2>Book Title: {{ book.book_title }}</h2>
          <small class="text-muted">edition: {{ book.publication_year }}</small>
          
          <p class="article-content">Subject: {{ book.subject }}</p>
          
        
        </div>
    </article>
    {% endfor %}

{% endif %}
{% endblock content %}
